*{
	margin:0;
	padding: 0;
}
.navbar-1{
	position: relative;
	border: 1px solid transparent;
	background:#0067b8;
	&>.container>p{
		text-align: center;
		line-height: 18px;
		color: #ffffff;
		margin:10px 0;
		&>a{
			color: #ffffff;
			text-decoration: underline;
		}
	}
}
.navbar-default .navbar-nav>li>a {
    color: #2196F3;
}
.login-list{
	&>li>a{
		padding:8px 0;
		text-align: center;
	}
	&>li:nth-of-type(1) a{
		color: #0067b8;
		padding:10px 0;
	}

	&>div{
		color: #0067b8;
		background:#bbd80a;
		margin-bottom: 10px;
		text-align: center;
		& a{
			color: #ffffff;
			display: block;
			padding:20px;
			font-size: 18px;
			text-align: center;
			text-decoration:none;
		}
	}
}
.carousel-control.right{
	background-image:none;
}
.carousel-control.left{
	background-image:none;
}